.header {
    position: relative;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 0.75em 0;
    margin: 1em; 
}

.header__input-hide {
    display: none;
}

.header__search {
    width: 48px;
    height: 48px;
    background-image: url(../assets/icon/pesquisa.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.header__dropdown-menu__icon {
    width: 48px;
    height: 48px;
    background-image: url(../assets/icon/menu-dropdown.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.header__dropdown-menu {
    display: none;
}

#dropdown-menu:checked + label {
    background-image: url(../assets/icon/close.svg);
}

#dropdown-menu:checked ~ .header__dropdown-menu {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 24px 41px 80% 24px;
    position: absolute;
    background-color: var(--menu-background-color);
    border-radius: 8px;
    right: 20px;
}

.header__dropdown-menu__item {
    display: flex;
    align-items: center;
    gap: 1em;
}

.header__dropdown-menu__img {
    padding: 0.875em;
    width: 24px;
    background-color: var(--button-menu-normal-color);
    opacity: 0.16;
    border-radius: 16px;
}

.header__dropdown-menu__link {
    text-decoration: none;
    color: var(--button-menu-normal-font-color);
    opacity: 0.56;
}

.header__dropdown-menu__img-profile {
    width: 32px;
    border-radius: 50%;
    margin-left: 0.75em;
}

.header__dropdown-menu__item:active > .header__dropdown-menu__img {
    opacity: 1;
}

.header__dropdown-menu__item:active > .header__dropdown-menu__link {
    opacity: 1;
}

.header__dropdown-menu__hr {
    display: block;
    width: 100%;
    color: var(--cor-5);
    opacity: 0.08;
}

.header__search__input {
    display: none;
}

#search:checked ~ .header__search__input {
    display: block;
    position: absolute;
}

#search:checked + label {
    background-image: url(../assets/icon/close.svg);
}

#search:checked ~ .header__dropdown-menu__icon {
    display: none;
}   

#search:checked ~ img.header__logo {
    display: none   ;
}